@model EmployeeInformationSystem.Core.Models.LeaveMaster

@{
    ViewBag.Title = "LeaveMaster";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap-select")
@Styles.Render("~/Content/gijgo")


@if (ViewBag.Msg == null)
{


    <div class="container-fluid" style="position:relative">
        <div class="container-fluid">
            <div class="row" id="reportDisplayBlock">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <b>Leave Quota</b>>
                        </div>

                        @if (ViewBag.Action == null || ViewBag.Action == "")
                        {


                            using (Html.BeginForm("AddLeaveQuota", "Leave", FormMethod.Post, new { @class = "form-horizontal", @id = "customReportSelectionForm", @data_heading = "Add Leave Quota" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="card-body" id="reportDisplayBody">


                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label">Organisation</label>
                                        <div class="col-sm-5">
                                            <select name="OrganisationId" class="form-control selectEmployeeOption" id="selectEmployeeByName" style="min-width:80%;" data-live-search="true">

                                                <option value="0" selected>--Select Organisation--</option>
                                                @foreach (var employee in ViewBag.OrganisationList)
                                                {
                                                    if (employee.Name == ViewBag.OName)
                                                    {
                                                        <option value="@employee.Id" data-employeetype="@employee.Name" selected>@employee.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@employee.Id" data-employeetype="@employee.Name">@employee.Name</option>
                                                    }
                                                }

                                            </select>


                                        </div>


                                    </div>
                                    <div class="form-group row offset-sm-3">
                                        <div classs="col-sm-9" style="display:none;color: red;" id="errorOrg">Please select columns</div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label">Leave Type</label>
                                        <div class="col-sm-5">
                                            <select name="LeaveTypeId" class="form-control selectEmployeeOption" id="selectEmployeeByName" style="min-width:80%;" data-live-search="true">
                                                <option value="0" selected>--Select Leave Type--</option>
                                                @foreach (var employee in ViewBag.LevelTypeList)
                                                {
                                                    if (employee.Name == ViewBag.LName)
                                                    {

                                                        <option value="@employee.Id" data-employeetype="@employee.Name" selected>@employee.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@employee.Id" data-employeetype="@employee.Name">@employee.Name</option>
                                                    }
                                                }
                                            </select>


                                        </div>
                                    </div>
                                    <div class="form-group row offset-sm-3">
                                        <div classs="col-sm-9" style="display:none;color: red;" id="errorLeave">Please select columns</div>
                                    </div>


                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.AnnualQuota, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                        <div class="col-sm-5">
                                            @Html.EditorFor(model => model.AnnualQuota, new { htmlAttributes = new { @class = "form-control", @type = "text", @data_type = "text" } })


                                        </div>
                                        <div classs="col-sm-4" style="display:none;color: red;" id="errorAQ">Please enter annual quota</div>
                                    </div>

                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.ValidFrom, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                        <div class="col-sm-5">
                                            @Html.EditorFor(model => model.ValidFrom, new { htmlAttributes = new { @class = "form-control", @type = "text", @data_type = "date", autocomplete = "off" } })
                                        </div>
                                        <div classs="col-sm-4" style="display:none;color: red;" id="errorFromDate">Please input valid date</div>
                                    </div>

                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.ValidTill, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                        <div class="col-sm-5">
                                            @Html.EditorFor(model => model.ValidTill, new { htmlAttributes = new { @class = "form-control", @type = "text", @data_type = "date", autocomplete = "off" } })
                                        </div>
                                        <div classs="col-sm-4" style="display:none;color: red;" id="errorToDate">Please input valid date</div>
                                    </div>






                                    <div class="form-group row">
                                        <div class="col-sm-9 offset-sm-3">
                                            <input type="submit" value="Add" class="btn btn-primary" id="reportSubmitBtn">
                                        </div>
                                    </div>

                                </div>

                            }

                        }
                        @if (ViewBag.Action == "UpdateLeaveMaster")
                        {
                            @Html.AntiForgeryToken()
                            using (Html.BeginForm("UpdateLeaveMaster", "Leave", FormMethod.Post, new { @class = "form-horizontal", @id = "customReportSelectionForm", @data_heading = "Add Leave Quota" }))
                            {

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="card-body" id="reportDisplayBody">


                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label">Organisation</label>
                                        <div class="col-sm-5">
                                            <select name="OrganisationId" class="form-control selectEmployeeOption" id="selectEmployeeByName" style="min-width:80%;" data-live-search="true">

                                                <option value="0" selected>--Select Organisation--</option>
                                                @foreach (var employee in ViewBag.OrganisationList)
                                                {
                                                    if (employee.Name == ViewBag.OName)
                                                    {
                                                        <option value="@employee.Id" data-employeetype="@employee.Name" selected>@employee.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@employee.Id" data-employeetype="@employee.Name">@employee.Name</option>
                                                    }
                                                }

                                            </select>


                                        </div>


                                    </div>
                                    <div class="form-group row offset-sm-3">
                                        <div classs="col-sm-9" style="display:none;color: red;" id="errorOrg">Please select columns</div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label">Leave Type</label>
                                        <div class="col-sm-5">
                                            <select name="LeaveTypeId" class="form-control selectEmployeeOption" id="selectEmployeeByName" style="min-width:80%;" data-live-search="true">
                                                <option value="0" selected>--Select Leave Type--</option>
                                                @foreach (var employee in ViewBag.LevelTypeList)
                                                {
                                                    if (employee.Name == ViewBag.LName)
                                                    {

                                                        <option value="@employee.Id" data-employeetype="@employee.Name" selected>@employee.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@employee.Id" data-employeetype="@employee.Name">@employee.Name</option>
                                                    }
                                                }
                                            </select>


                                        </div>
                                    </div>
                                    <div class="form-group row offset-sm-3">
                                        <div classs="col-sm-9" style="display:none;color: red;" id="errorLeave">Please select columns</div>
                                    </div>


                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.AnnualQuota, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                        <div class="col-sm-5">
                                            @Html.EditorFor(model => model.AnnualQuota, new { htmlAttributes = new { @class = "form-control", @type = "text", @data_type = "text" } })


                                        </div>
                                        <div classs="col-sm-4" style="display:none;color: red;" id="errorAQ">Please enter annual quota</div>
                                    </div>

                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.ValidFrom, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                        <div class="col-sm-5">
                                            @Html.EditorFor(model => model.ValidFrom, new { htmlAttributes = new { @class = "form-control", @type = "text", @data_type = "date", autocomplete = "off" } })
                                        </div>
                                        <div classs="col-sm-4" style="display:none;color: red;" id="errorFromDate">Please input valid date</div>
                                    </div>

                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.ValidTill, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                        <div class="col-sm-5">
                                            @Html.EditorFor(model => model.ValidTill, new { htmlAttributes = new { @class = "form-control", @type = "text", @data_type = "date", autocomplete = "off" } })
                                        </div>
                                        <div classs="col-sm-4" style="display:none;color: red;" id="errorToDate">Please input valid date</div>
                                    </div>

                                    <div class="form-group row d-none">
                                        <div class="col-sm-5">
                                            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @type = "text", @data_type = "text" } })
                                        </div>
                                    </div>




                                    <div class="form-group row">
                                        <div class="col-sm-9 offset-sm-3">
                                            <input type="submit" value="Edit" class="btn btn-primary" id="reportSubmitBtn">
                                        </div>
                                    </div>

                                </div>

                            }
                        }

                        @if (ViewBag.Action == "DeleteLeaveMaster")
                        {
                            @Html.AntiForgeryToken()
                            using (Html.BeginForm("DeleteLeaveMaster", "Leave", FormMethod.Post, new { @class = "form-horizontal", @id = "customReportSelectionForm", @data_heading = "Add Leave Quota" }))
                            {

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="card-body" id="reportDisplayBody">


                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label">Organisation</label>
                                        <div class="col-sm-5">
                                            <select name="OrganisationId" class="form-control selectEmployeeOption" id="selectEmployeeByName" style="min-width:80%;" data-live-search="true">

                                                <option value="0" selected>--Select Organisation--</option>
                                                @foreach (var employee in ViewBag.OrganisationList)
                                                {
                                                    if (employee.Name == ViewBag.OName)
                                                    {
                                                        <option value="@employee.Id" data-employeetype="@employee.Name" selected>@employee.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@employee.Id" data-employeetype="@employee.Name">@employee.Name</option>
                                                    }
                                                }

                                            </select>


                                        </div>


                                    </div>
                                    <div class="form-group row offset-sm-3">
                                        <div classs="col-sm-9" style="display:none;color: red;" id="errorOrg">Please select columns</div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-3 form-control-label">Leave Type</label>
                                        <div class="col-sm-5">
                                            <select name="LeaveTypeId" class="form-control selectEmployeeOption" id="selectEmployeeByName" style="min-width:80%;" data-live-search="true">
                                                <option value="0" selected>--Select Leave Type--</option>
                                                @foreach (var employee in ViewBag.LevelTypeList)
                                                {
                                                    if (employee.Name == ViewBag.LName)
                                                    {

                                                        <option value="@employee.Id" data-employeetype="@employee.Name" selected>@employee.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@employee.Id" data-employeetype="@employee.Name">@employee.Name</option>
                                                    }
                                                }
                                            </select>


                                        </div>
                                    </div>
                                    <div class="form-group row offset-sm-3">
                                        <div classs="col-sm-9" style="display:none;color: red;" id="errorLeave">Please select columns</div>
                                    </div>


                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.AnnualQuota, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                        <div class="col-sm-5">
                                            @Html.EditorFor(model => model.AnnualQuota, new { htmlAttributes = new { @class = "form-control", @type = "text", @data_type = "text" } })


                                        </div>
                                        <div classs="col-sm-4" style="display:none;color: red;" id="errorAQ">Please enter annual quota</div>
                                    </div>

                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.ValidFrom, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                        <div class="col-sm-5">
                                            @Html.EditorFor(model => model.ValidFrom, new { htmlAttributes = new { @class = "form-control", @type = "text", @data_type = "date", autocomplete = "off" } })
                                        </div>
                                        <div classs="col-sm-4" style="display:none;color: red;" id="errorFromDate">Please input valid date</div>
                                    </div>

                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.ValidTill, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
                                        <div class="col-sm-5">
                                            @Html.EditorFor(model => model.ValidTill, new { htmlAttributes = new { @class = "form-control", @type = "text", @data_type = "date", autocomplete = "off" } })
                                        </div>
                                        <div classs="col-sm-4" style="display:none;color: red;" id="errorToDate">Please input valid date</div>
                                    </div>

                                    <div class="form-group row d-none">
                                        <div class="col-sm-5">
                                            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @type = "text", @data_type = "text" } })
                                        </div>
                                    </div>




                                    <div class="form-group row">
                                        <div class="col-sm-9 offset-sm-3">
                                            <input type="submit" value="Delete" class="btn btn-primary" id="reportSubmitBtn">
                                        </div>
                                    </div>

                                </div>

                            }

                        }
                    </div>
                </div>

            </div>
        </div>

    </div>}
else
{

    <div class="container-fluid" style="position:relative">
        <div class="container-fluid">
            <div class="row" id="reportDisplayBlock">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            Leave Quota
                        </div>

                        <div class="card-body" id="reportDisplayBody">

                            <p>@ViewBag.Msg</p>

                        </div>


                    </div>
                </div>

            </div>
        </div>

    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/bootstrap-select")
    @Scripts.Render("~/bundles/gijgo")
    <script>
    $(document).ready(function () {



        $('select').selectpicker();
                            $('[data-type="date"]').each(function () {
                                $(this).datepicker({
                                    uiLibrary: 'bootstrap',
                                    format: 'dd-mm-yyyy'
                                });
                            });





        $(document).on('click', '#reportSubmitBtn', function (e) {
           var isValid = true;
           var australianDate = /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-./])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$|^$/;



          //if ($("select[name=LeaveTypeId] option[value='0']").val()== 0) {
          //     $("#errorLeave").show(); isValid = false;
          // } else {
          //      $("#errorLeave").hide();
          //  }

          //  if ($("select[name=OrganisationId] option[value='0']").val() == 0) {
          //      $("#errorOrg").show(); isValid = false;
          //  }
          //  else {
          //       $("#errorOrg").hide();
          //  }

            if ($("#@Html.IdFor(model => model.AnnualQuota)").val() == "") {
                $("#errorAQ").show(); isValid = false;
            } else {
                $("#errorAQ").hide();
            }

           if (!australianDate.test($("#@Html.IdFor(model => model.ValidFrom)").val())) {
               $("#errorFromDate").show(); isValid = false;
               console.log($("#@Html.IdFor(model => model.ValidFrom)").val());
           } else {
               $("#errorFromDate").hide();
           }

           if (!australianDate.test($("#@Html.IdFor(model => model.ValidTill)").val())) {
               console.log($("#@Html.IdFor(model => model.ValidTill)").val());
               $("#errorToDate").show(); isValid = false;
           } else {
                $("#errorToDate").hide();
           }



            if (!isValid) {
                e.preventDefault(); //prevent the default action
            } else {
                $('#overlay').fadeIn(); // show spinner
            }
           });
    });




    </script>

}