@model EmployeeInformationSystem.Core.Models.LeaveType

@{
        ViewBag.Title = "Leave Type";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<h2>Leave Master</h2>



@using (Html.BeginForm("AddLeaveType", "Leave", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group row">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
        <div class="col-sm-5">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @type = "text", @data_type = "text" } })
        </div>
        <div classs="col-sm-4">@Html.ValidationMessageFor(m => m.Name, "", new { @class = "error" })</div>
    </div>
        <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
            <input type="submit" value="Add Leave Type" class="btn btn-primary" >
        </div>
    </div>
}


<script>
        $(document).ready(function () {
        $(document).on('click', '#reportSubmitBtn', function (e) {
           var isValid = true;
           var australianDate = /^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-./])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d(?:(?=\x20\d)\x20|$))?(((0?[1-9]|1[012])(:[0-5]\d){0,2}(\x20[AP]M))|([01]\d|2[0-3])(:[0-5]\d){1,2})?$|^$/;

            @*if (0 == $('#@Html.IdFor(model => model.Categories) :selected').length) {
               $("#errorDepartment").show(); isValid = false;
           } else {
                $("#errorDepartment").hide();
           }*@

           if (0 == $('#working :selected').val()) {
               $("#errorworking").show(); isValid = false;
           } else {
               $("#errorworking").hide();
           }

           

          



            if (!isValid) {
                e.preventDefault(); //prevent the default action
            } else {
                $('#overlay').fadeIn(); // show spinner
            }
           });
        });
</script>