@{
    ViewBag.Title = "Master Data Management";
}

@section CustomStyles{
    @Styles.Render("~/Content/bootstrap-select")
    <style>
        #overlay {
            position: absolute;
            justify-content: left;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(130, 130, 130, 0.5);
        }
    </style>

}
@section Admin{
    class="active"
}

<div id="overlay" style="display:none;text-align:center;">
    <img src="~/Content/img/spinner.gif" style="resize:inherit;" />
    <br />
</div>
<!-- Page Header-->
<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Master Data Management</h2>
    </div>
</header>
<!-- Forms Section-->
<section class="forms">
    <div class="container-fluid" style="position:relative">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                            </div>
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Bulk Upload Employee Data</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-inline">

                                <form action="@Url.Action("AjaxBulkUpload", "MasterData")" method="post" enctype="multipart/form-data" id="fileUploadForm">
                                    <div class="form-group">
                                        <label for="fileUpload" class="col-sm-3 form-control-label">Upload File</label>
                                        <div class="col-sm-9">
                                            <input id="fileUpload" type="file" class="form-control-file">
                                        </div>
                                    </div>
                                </form>


                            </div>
                            <div class="text-center">
                                <div class="invalid-feedback" id="fileUploadError" style="display:none;">Please select an Excel file</div>
                            </div>
                            <br />
                            <div class="text-center">
                                <div id="uploadStatus" style="display:none;"></div>
                            </div>
                            <br />
                            <div></div>
                            <div class="text-center">
                                <button type="submit" class="form-control btn btn-primary" style="width:50%;" id="continueBtn" disabled>Continue</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Manage User Ids</h3>
                        </div>
                        <div class="card-body mx-auto">
                            <div class="form-group row">
                                <label for="selectEmployeeByNameId" class="form-control-label">Select Employee</label>
                                <div class="ml-3">
                                    <select class="form-control selectEmployeeOption" id="selectEmployeeByNameId" style="min-width:80%;" data-live-search="true">
                                        <option value="" selected>--Select Employee Name/CPF No.--</option>
                                        @foreach (var employee in ViewBag.Employees)
                                        {
                                            <option value="@employee.Id">@employee.GetFullName, CPF No.:  @employee.EmployeeCode</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="form-control btn btn-primary" style="width:50%;" id="manageUserID" disabled>Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Manage Master Data</h3>
                    </div>

                    <div class="card-body mx-auto">
                        <h1>Coming Soon</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="userModalCenter" tabindex="-1" role="dialog" aria-labelledby="userModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modalContent">
                <div></div>
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalCenterTitle">Create New User ID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">
                    ...
                </div>
                <div class="modal-footer" id="modalFooter">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Register" id="manageUserBtn" />
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    @Scripts.Render("~/bundles/bootstrap-select")
<script>
        $(document).ready(function () {
            $('#selectEmployeeByNameId').selectpicker({
                liveSearchStyle: "contains"
            });

            $(document).on('propertychange change click keyup input paste', '#selectEmployeeByNameId', function () {
                if (this.value != "") {
                    $('#manageUserID').prop('disabled', false);
                } else {
                    $('#manageUserID').prop('disabled', true);
                }
            });

            $('#manageUserID').click(function () {
                $('#overlay').fadeIn();
                var EmployeeId = null, TargetUrl = null;
                EmployeeId = $("#selectEmployeeByNameId:enabled").val();
                if ("" != EmployeeId) {
                    $.ajax({
                        url: '@Url.Action("CheckUser", "Account")?EmployeeId=' + EmployeeId,
                        success: function (result) {
                            if ("Modify" == result) {
                                TargetUrl = '@Url.Action("ModifyAccount", "Manage")?EmployeeId=' + EmployeeId;
                                $("#userModalCenterTitle").text("Modify existing User ID");
                                $("#manageUserBtn").val("Modify");
                            }
                            else if ("Register" == result) {
                                TargetUrl = '@Url.Action("Register", "Account")?EmployeeId=' + EmployeeId;
                                $("#userModalCenterTitle").text("Create new User ID");
                                $("#manageUserBtn").val("Register");
                            } else $('#modalBody').html('<div class="alert alert-danger" role="alert"> An Error has occured </div >');
                        },
                        error: function () {
                            $('#modalBody').html('<div class="alert alert-danger" role="alert"> An Error has occured </div >');
                        },
                        fail: function (xhr, textStatus, errorThrown) {
                            $('#modalBody').html('<div class="alert alert-danger" role="alert">Request Failed with error: ' + errorThrown + '</div > ');
                        },
                        complete: function () {
                            console.log(TargetUrl);
                            if (null != TargetUrl) {
                                $.ajax({
                                    url: TargetUrl,
                                    success: function (result) {
                                        $('#modalBody').html(result);
                                        $("#manageUserBtn").show();
                                    },
                                    error: function () {
                                        $('#modalBody').html('<div class="alert alert-danger" role="alert"> An Error has occured </div >');
                                    },
                                    fail: function (xhr, textStatus, errorThrown) {
                                        $('#modalBody').html('<div class="alert alert-danger" role="alert">Request Failed with error: ' + errorThrown + '</div > ');
                                    },
                                    complete: function () {
                                        $('#userModalCenter').modal('show');
                                    }
                                });
                            } else $('#userModalCenter').modal('show');
                        }
                    });
                } else {
                    alert("No Employee Selected !!");
                }
                $('#overlay').fadeOut();
            });

            $(document).on("click", "#manageUserBtn", function () {
                $('#overlay').fadeIn();
                var formUrl = $('#manageUser').attr('action');
                var formData = new FormData(document.getElementById('manageUser'));
                var text = null;
                if ("register" == $('#manageUser').data('formtype')) text = "created";
                else text = "modified";
                $.ajax({
                    url: formUrl,
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if ('Success' == result) {
                            $('#modalBody').html('<div class="alert alert-success" role="alert"> Successfully '+ text +' user ID with specified roles</div >');
                            $("#manageUserBtn").fadeOut();
                        } else {
                            $('#modalBody').html(result);
                        }
                    },
                    error: function () {
                        $('#modalBody').html('<div class="alert alert-danger" role="alert"> An Error has occured </div >');
                        $("#manageUserBtn").fadeOut();
                    },
                    fail: function (xhr, textStatus, errorThrown) {
                        $('#modalBody').html('<div class="alert alert-danger" role="alert">Request Failed with error: ' + errorThrown + '</div > ');
                        $("#manageUserBtn").fadeOut();
                     },
                    complete: function () {
                        $('#overlay').fadeOut();
                    }
                });
            });


            $("#fileUpload").change(function () {
                var fileExtension = ['xls', 'xlsx'];
                if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                    $("#fileUploadError").show();
                    $('#continueBtn').attr('disabled', true);
                } else {
                    $("#fileUploadError").hide();
                    $('#continueBtn').removeAttr('disabled');
                }
            });

            $('#continueBtn').click(function () {
                $('#overlay').fadeIn();
                var formData = new FormData();
                var formUrl = $('#fileUploadForm').attr('action');
                formData.append('file', $('#fileUpload')[0].files[0]);
                $.ajax({
                    url: formUrl,
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        $('#uploadStatus').html(result);
                    },
                    error: function () {
                        $('#uploadStatus').html('<div class="alert alert-danger" role="alert"> An Error has occured </div >');
                    },
                    fail: function (xhr, textStatus, errorThrown) {
                        $('#uploadStatus').html('<div class="alert alert-danger" role="alert">Request Failed with error: ' + errorThrown + '</div > ');
                        $('#overlay').fadeOut();
                    },
                    complete: function () {
                        $('#uploadStatus').show();
                        $('#overlay').fadeOut();
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        });
</script>
}