<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | EIS</title>
    <meta name="description" content="DGH Employee Information System">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!--CSS-->
    @Styles.Render("~/Content/css")

    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">

    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    @RenderSection("CustomStyles", required: false)
</head>
<body>
    <div class="page">
        <!-- Main Navbar-->
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <!-- Navbar Header-->
                        <div class="navbar-header">
                            <!-- Navbar Brand --><a href="index.html" class="navbar-brand d-none d-sm-inline-block">
                                <div class="brand-text d-none d-lg-inline-block"><span><img src="~/Content/img/dgh_transparent.png" height="35" /></span><strong> Employee Information System</strong></div>
                                <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div>
                            </a>
                            <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                        </div>
                        <!-- Navbar Menu -->
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">



                            <!-- Logout    -->
                            <li class="nav-item"><a href="@Url.Action("LogOut","Account")" class="nav-link logout"> <span class="d-none d-sm-inline">Logout</span><i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="page-content d-flex align-items-stretch">
            <!-- Side Navbar -->
            <nav class="side-navbar">
                <!-- Sidebar Header-->
                <div class="sidebar-header d-flex align-items-center">
                    <div class="avatar"><img src="@ViewBag.ProfilePhoto" alt="..." class="img-fluid rounded-circle"></div>
                    <div class="title">
                        <h1 class="h4">@ViewBag.UserName</h1>
                        <p>@ViewBag.Role</p>
                    </div>
                </div>
                <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
                                                <ul class="list-unstyled">
                                                    <li @RenderSection("Home", required: false)><a href="@Url.Action("Index", "Home")"> <i class="icon-home"></i>Home </a></li>
                                                    <li>
                                                        <a href="#DataManageDropdown" aria-expanded="false" data-toggle="collapse"><i class="fa fa-database"></i>Employee Data</a>
                                                        <ul id="DataManageDropdown" class="collapse list-unstyled @RenderSection("DataManage",required:false)">
                                                            @if (Request.IsAuthenticated && User.IsInRole("Add"))
                                                            {
                                                                <li @RenderSection("AddEmployee", required: false)><a href="@Url.Action("AddEmployee", "EmployeeData")"><i class="fa fa-user-plus"></i>Add Employee</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li @RenderSection("AddEmployee", required: false)><a href="#" data-toggle="modal" data-target="#errorModal"><i class="fa fa-user-plus"></i>Add Employee</a></li>
                                                            }

                                                            @if (Request.IsAuthenticated && User.IsInRole("View"))
                                                            {
                                                                <li @RenderSection("ViewEmployee", required: false)><a href="@Url.Action("ViewEmployee", "EmployeeData")"><i class="fa fa-address-card"></i>View Employee</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li @RenderSection("ViewEmployee", required: false)><a href="#" data-toggle="modal" data-target="#errorModal"><i class="fa fa-address-card"></i>View Employee</a></li>
                                                            }

                                                            @if (Request.IsAuthenticated && User.IsInRole("Edit"))
                                                            {
                                                                <li @RenderSection("EditEmployee", required: false)><a href="@Url.Action("EditEmployee", "EmployeeData")"><i class="fa fa-edit"></i>Update Record</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li @RenderSection("EditEmployee", required: false)><a href="#" data-toggle="modal" data-target="#errorModal"><i class="fa fa-edit"></i>Update Record</a></li>
                                                            }

                                                            @if (Request.IsAuthenticated && User.IsInRole("Delete"))
                                                            {
                                                                <li @RenderSection("DeleteEmployee", required: false)><a href="@Url.Action("DeleteEmployee", "EmployeeData")"><i class="fa fa-trash"></i>Delete Record</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li @RenderSection("DeleteEmployee", required: false)><a href="#" data-toggle="modal" data-target="#errorModal"><i class="fa fa-trash"></i>Delete Record</a></li>
                                                            }
                                                        </ul>
                                                    </li>
                                                    @if (Request.IsAuthenticated && User.IsInRole("Reports"))
                                                    {
                                                        <li>
                                                            <a href="#GenerateReportsDropdown" aria-expanded="false" data-toggle="collapse"><i class="fa fa-bar-chart"></i>Generate Reports</a>
                                                            <ul id="GenerateReportsDropdown" class="collapse list-unstyled @RenderSection("Reports", required: false) ">
                                                                <li @RenderSection("ActiveEmployees", required: false)><a href="@Url.Action("ActiveEmployees", "Reports")"><i class="fa fa-user-circle"></i>Active Employess</a></li>
                                                                <li @RenderSection("InActiveEmployees", required: false)><a href="@Url.Action("InActiveEmployees", "Reports")"><i class="fa fa-times-rectangle"></i>Inactive Employees</a></li>
                                                                <li @RenderSection("AllEmployees", required: false)><a href="@Url.Action("AllEmployees", "Reports")"><i class="fa fa-users"></i>All Employees</a></li>
                                                                <li @RenderSection("CustomReports", required: false)><a href="@Url.Action("CustomReports", "Reports")"><i class="fa fa-cogs"></i>Custom Reports</a></li>
                                                            </ul>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a href="#" data-toggle="modal" data-target="#errorModal"><i class="fa fa-bar-chart"></i>Generate Reports</a>
                                                        </li>
                                                    }

                                                    <li>
                                                        <a href="#LeaveDropdown" aria-expanded="false" data-toggle="collapse"><i class="fa fa-bar-chart"></i>Leave Section</a>
                                                        <ul id="LeaveDropdown" class="collapse list-unstyled @RenderSection("Leave", required: false) ">
                                                            <li @RenderSection("LeaveType", required: false)><a href="@Url.Action("LeaveType", "Leave")"><i class="fa fa-times-rectangle"></i>Add Leave Type</a></li>
                                                            <li @RenderSection("ViewLeaveType", required: false)><a href="@Url.Action("ViewLeaveType", "Leave")"><i class="fa fa-user-circle"></i>View Leave Type</a></li>
                                                            <li @RenderSection("LeaveMaster", required: false)><a href="@Url.Action("LeaveMaster", "Leave")"><i class="fa fa-times-rectangle"></i>Add Leave Quota</a></li>
                                                            <li @RenderSection("ViewLeaveQuota", required: false)><a href="@Url.Action("ViewLeaveQuota", "Leave")"><i class="fa fa-user-circle"></i>View Leave Quota</a></li>
                                                            <li @RenderSection("ApplyLeave", required: false)><a href="@Url.Action("ApplyLeave", "Leave")"><i class="fa fa-times-rectangle"></i>Apply Leave </a></li>
                                                            <li @RenderSection("ViewLeaveDetails", required: false)><a href="@Url.Action("ViewLeaveDetails", "Leave")"><i class="fa fa-user-circle"></i>View Leave Details</a></li>
                                                            <li @RenderSection("ViewEmpLeaveBalance", required: false)><a href="@Url.Action("ViewEmpLeaveBalance", "Leave")"><i class="fa fa-user-circle"></i>View Leave Balance</a></li>

                                                           
                                                        </ul>
                                                    </li>
                                                    <li><span class="heading">Administrator Section</span></li>
                                                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                                    {
                                                        <li @RenderSection("Admin", required: false)><a href="@Url.Action("Index", "MasterData")"> <i class="fa fa-key"></i>Master Data </a></li>
                                                    }
                                                    else
                                                    {
                                                        <li @RenderSection("Admin", required: false)><a href="#" data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-key"></i>Master Data </a></li>
                                                    }
                                                </ul>
            </nav>
            <div class="content-inner">
                @RenderBody()
                <!-- Page Footer-->
                <footer class="main-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Directorate General of Hydrocarbons &copy; 2019</p>
                            </div>
                            <div class="col-sm-6 text-right">
                                <p>Designed by IT Team, DGH</p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="errorModalLabel">Error</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            You are not authorised to view this module!
                            Please contact HR Team for authorisation.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- JavaScript files-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jquerycookie")
    @*@Scripts.Render("~/bundles/chart")*@
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/charts-home")*@
    <!-- Main File-->
    @Scripts.Render("~/bundles/front")

    @RenderSection("scripts", required: false)
</body>
</html>
