@{
    Layout = null;
}
@if (null != ViewBag.Mode)
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Success!</h4>
        <p>Successfully @(ViewBag.Mode == "Add"? "Added": "Edited") user with Employee Code/CPF No. @ViewBag.EmployeeCode</p>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <button type="button" onclick="window.location.href = '@Url.Action("ViewEmployee", "EmployeeData", new { EmployeeId = ViewBag.EmployeeId })';" class="btn btn-primary">View @(ViewBag.Mode == "Add" ? "Added" : "Edited") Employee</button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href = '@Url.Action(ViewBag.Mode == "Add"? "AddEmployee":"EditEmployee", "EmployeeData")';">@(ViewBag.Mode == "Add" ? "Add" : "Edit") another Employee</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert"> An Error has occured </div>
}