@using EmployeeInformationSystem.Services;

@section CustomStyles{
    <style>
        #overlay {
            position: absolute;
            justify-content: left;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(130, 130, 130, 0.5);
        }
    </style>

}

@section DataManage{
    show
}
@{ string headerClass = "";
    if ("View" == ViewBag.Target)
    {
        @section ViewEmployee{
            class="active"
        }
        headerClass = "bg-info";
    }
    else
    {
        @section DeleteEmployee{
            class="active"
        }
        headerClass = "bg-danger";
    }
}

@model EmployeeInformationSystem.Core.ViewModels.DataViewModel

<div id="overlay" style="display:none;text-align:center;">
    <img src="~/Content/img/spinner.gif" style="resize:inherit;" />
    <br />
</div>
<!-- Page Header-->
<header class="page-header @headerClass text-white">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">@ViewBag.Target Employee Data</h2>
    </div>
</header>
<!-- Forms Section-->
<section class="forms">
    <div class="container-fluid" style="position:relative">

        <div class="row">
            <div class="col-lg-12">
                <div class="card" id="ViewDataForm">
                    <div class="card-header">
                        <div class="h4">
                            Details of : @Model.EmployeeDetails.GetFullName &nbsp;&nbsp;
                            @if (null != @Model.EmployeeDetails.ProfilePhoto)
                            {
                                <img class="img-thumbnail" style="height:100px;" src="~/Content/profile_pics/@Model.EmployeeDetails.ProfilePhoto" alt="No Image" />
                            }
                            <input type="button" class="btn btn-info float-right" value="Show All" id="togggleAll" />
                            @if ("Delete" == ViewBag.Target)
                            {<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteModal" style="margin-right:15px;">
                                    Delete Employee
                                </button>
                            }
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="accordion" id="viewDataAccordion">
                            <div class="card">
                                <div class="card-header bg-primary" id="personalDetails">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Personal Details
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="personalDetails" data-parent="#viewDataAccordion">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.EmployeeCode):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.EmployeeCode)
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.EmployeeType):</h5>
                                            <div class="col-sm-3">
                                                @Model.EmployeeDetails.EmployeeType.GetDisplayName()
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">Name:</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.GetFullName)
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.ProfilePhoto):</h5>
                                            <div class="col-sm-3">
                                                @if (null != @Model.EmployeeDetails.ProfilePhoto)
                                                {
                                                    <img class="img-thumbnail" style="height:100px" src="~/Content/profile_pics/@Model.EmployeeDetails.ProfilePhoto" alt="No Image" />
                                                }
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.DateOfBirth):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.DateOfBirth)
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.DateOfSuperannuation):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.DateOfSuperannuation)
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align: right;">
                                                @Html.DisplayNameFor(model => model.EmployeeDetails.MaritalStatus):
                                            </h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.MaritalStatus)
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">
                                                @Html.DisplayNameFor(model => model.EmployeeDetails.MarriageDate):
                                            </h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.MarriageDate)
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.Gender):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.Gender)
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.BloodGroup):</h5>
                                            <div class="col-sm-3">
                                                @Model.EmployeeDetails.BloodGroup.GetDisplayName()
                                            </div>
                                        </div>
                                        @{
                                            var employeeTypes = new List<EmployeeInformationSystem.Core.Models.EmployeeType>() {
                                                EmployeeInformationSystem.Core.Models.EmployeeType.Deputationist,
                                                EmployeeInformationSystem.Core.Models.EmployeeType.Consultant,
                                                EmployeeInformationSystem.Core.Models.EmployeeType.Advisor
                                                                        };

                                        }
                                        @if (employeeTypes.Contains(Model.EmployeeDetails.EmployeeType))
                                        {
                                            <div class="form-group row">
                                                <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.PassportNumber):</h5>

                                                <div class="col-sm-3">
                                                    @Html.DisplayFor(model => model.EmployeeDetails.PassportNumber)
                                                </div>


                                                <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.PassportValidity):</h5>
                                                <div class="col-sm-3">
                                                    @Html.DisplayFor(model => model.EmployeeDetails.PassportValidity)
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group row">
                                                <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.DeputedLocation):</h5>
                                                <div class="col-sm-3">
                                                    @Model.EmployeeDetails.DeputedLocation.GetDisplayName()
                                                </div>


                                                <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.UANNumber):</h5>
                                                <div class="col-sm-3">
                                                    @Html.DisplayFor(model => model.EmployeeDetails.UANNumber)
                                                </div>
                                            </div>
                                        }
                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.PANNumber):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.PANNumber)
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.AadhaarNumber):</h5>
                                            <div class="col-sm-3">
                                                @if (Model.EmployeeDetails.AadhaarNumber != null)
                                                {
                                                    @Html.DisplayFor(model => model.EmployeeDetails.AadhaarNumber).ToString().Substring(0, 4) <text>-</text> @Html.DisplayFor(model => model.EmployeeDetails.AadhaarNumber).ToString().Substring(4, 4) <text>-</text> @Html.DisplayFor(model => model.EmployeeDetails.AadhaarNumber).ToString().Substring(8, 4)
                                                }

                                            </div>
                                        </div>

                                        @{ if (0 != Model.DependentDetails.Count())
                                            {
                                                <div class="line"></div>
                                                <div class="form-group row justify-content-center">
                                                    <div class="col-sm-10">
                                                        <h3 class="h4">Dependent Details</h3>
                                                        <div class="table-responsive">
                                                            <table class="table table-hover" id="dependentTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Name</th>
                                                                        <th>Relationship</th>
                                                                        <th>Date of Birth</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @for (int i = 0; i < Model.DependentDetails.Count(); i++)
                                                                    {
                                                                        <tr>
                                                                            <td>@Html.DisplayFor(model => Model.DependentDetails[i].DependentName)</td>
                                                                            <td>@Html.DisplayFor(model => Model.DependentDetails[i].Relationship)</td>
                                                                            <td>@Html.DisplayFor(model => Model.DependentDetails[i].DateofBirth)</td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="line"></div>
                                            }
                                            else
                                            {
                                                <div class="form-group row">
                                                    <h5 class="title col-sm-3" style="text-align:right;">Dependent Details:</h5>
                                                    <div class="col-sm-3">
                                                        Not available
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header bg-primary" id="contactDetails">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Contact Details
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="contactDetails" data-parent="#viewDataAccordion">
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.EmailID):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.EmailID)
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.AlternateEmailID):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.AlternateEmailID)
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.MobileNumber):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.MobileNumber)
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.ResidenceNumber):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.ResidenceNumber)
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.ResidenceAddress):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.ResidenceAddress)
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.PermanentAddress):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.PermanentAddress)
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.EmergencyPerson):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.EmergencyPerson)
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.EmergencyContact):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.EmergencyContact)
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.SeatingLocation):</h5>
                                            <div class="col-sm-3">
                                                @Model.EmployeeDetails.SeatingLocation.GetDisplayName()
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.TelephoneExtensions.Number):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.TelephoneExtensions.Number)
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header bg-primary" id="professionalDetails">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Professional Details
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="professionalDetails" data-parent="#viewDataAccordion">
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.WorkingStatus):</h5>
                                            <div class="col-sm-3">
                                                @if (Model.EmployeeDetails.WorkingStatus)
                                                {
                                                    <text>Working</text>
                                                }
                                                else
                                                {
                                                    <text>Separated</text>
                                                }
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.Organisation):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.Organisation.Name)
                                            </div>
                                        </div>


                                        @{ if (0 != Model.QualificationDetails.Count())
                                            {
                                                <div class="line"></div>
                                                <div class="form-group row justify-content-center">
                                                    <div class="col-sm-10">
                                                        <h3 class="h4">Qualification Details</h3>
                                                        <div class="table" style="overflow-x:scroll;">
                                                            <table class="table table-hover" id="qualificationTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="min-width:150px;" class="text-center">Degree</th>
                                                                        <th class="text-center">Subject/Specialization</th>
                                                                        <th class="text-center">Grade/Percentage</th>
                                                                        <th style="min-width:100px;" class="text-center">Class</th>
                                                                        <th style="min-width:150px;" class="text-center">Institute</th>
                                                                        <th style="min-width:150px;" class="text-center">University</th>
                                                                        <th style="min-width:100px;" class="text-center">Duration</th>
                                                                        <th style="min-width:150px;" class="text-center">From</th>
                                                                        <th style="min-width:100px;" class="text-center">To</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @for (int i = 0; i < Model.QualificationDetails.Count(); i++)
                                                                    {
                                                                        <tr>
                                                                            <td class="text-center">@Html.DisplayFor(model => Model.QualificationDetails[i].Degree.Name)</td>
                                                                            <td class="text-center">@Html.DisplayFor(model => Model.QualificationDetails[i].Specialization)</td>
                                                                            <td class="text-center">@Html.DisplayFor(model => Model.QualificationDetails[i].Grade)</td>
                                                                            <td class="text-center">@Html.DisplayFor(model => Model.QualificationDetails[i].Class)</td>
                                                                            <td class="text-center">@Html.DisplayFor(model => Model.QualificationDetails[i].Institution)</td>
                                                                            <td class="text-center">@Html.DisplayFor(model => Model.QualificationDetails[i].University)</td>
                                                                            <td class="text-center">@Html.DisplayFor(model => Model.QualificationDetails[i].Duration)</td>
                                                                            <td class="text-center">@Html.DisplayFor(model => Model.QualificationDetails[i].From)</td>
                                                                            <td class="text-center">@Html.DisplayFor(model => Model.QualificationDetails[i].To)</td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="line"></div>
                                            }
                                            else
                                            {
                                                <div class="form-group row">
                                                    <h5 class="title col-sm-3" style="text-align:right;">Qualification Details:</h5>
                                                    <div class="col-sm-3">
                                                        Not available
                                                    </div>
                                                </div>
                                            }
                                        }

                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.PrimaryExpertise):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.PrimaryExpertise)
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.Discipline):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.Discipline.Name)
                                            </div>
                                        </div>
                                        @if (Model.EmployeeDetails.EmployeeType == EmployeeInformationSystem.Core.Models.EmployeeType.Deputationist)
                                        {
                                            <div class="form-group row">
                                                <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.DateofJoiningParentOrg):</h5>
                                                <div class="col-sm-3">
                                                    @Html.DisplayFor(model => model.EmployeeDetails.DateofJoiningParentOrg)
                                                </div>


                                                <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.DateofRelievingLastOffice):</h5>
                                                <div class="col-sm-3">
                                                    @Html.DisplayFor(model => model.EmployeeDetails.DateofRelievingLastOffice)
                                                </div>
                                            </div>
                                        }


                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.DateofJoiningDGH):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.DateofJoiningDGH)
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.DeputationPeriod):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.DeputationPeriod)
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.DateOfSeparation):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.DateOfSeparation)
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.ReasonForLeaving):</h5>
                                            <div class="col-sm-3">
                                                @Model.EmployeeDetails.ReasonForLeaving.GetDisplayName()
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header bg-primary text-white" id="postingDetails">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                            Posting Details
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="postingDetails" data-parent="#viewDataAccordion">
                                    <div class="card-body">
                                        @{ if (0 != Model.PromotionDetails.Count())
                                            {
                                                if (Model.EmployeeDetails.EmployeeType != EmployeeInformationSystem.Core.Models.EmployeeType.Deputationist)
                                                {
                                                    <div class="form-group row">
                                                        <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.PromotionDetails[0].Designation):</h5>
                                                        <div class="col-sm-3">
                                                            @Html.DisplayFor(model => model.PromotionDetails[0].Designation.Name)
                                                        </div>

                                                        <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.PromotionDetails[0].PayScale):</h5>
                                                        <div class="col-sm-3">
                                                            @Html.DisplayFor(model => model.PromotionDetails[0].PayScale.Scale)
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="line"></div>
                                                    <div class="form-group row justify-content-center">
                                                        <div class="col-sm-10">
                                                            <h3 class="h4">Promotion Details</h3>
                                                            <div class="table-responsive">
                                                                <table class="table table-hover" id="promotionTable">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Designation</th>
                                                                            <th>PayScale</th>
                                                                            <th>Level</th>
                                                                            <th>From</th>
                                                                            <th>To</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @for (int i = 0; i < Model.PromotionDetails.Count(); i++)
                                                                        {
                                                                            <tr>
                                                                                <td>@Html.DisplayFor(model => Model.PromotionDetails[i].Designation.Name)</td>
                                                                                <td>@Html.DisplayFor(model => Model.PromotionDetails[i].PayScale.Scale)</td>
                                                                                <td>@Html.DisplayFor(model => Model.PromotionDetails[i].Level.Name)</td>
                                                                                <td>@Html.DisplayFor(model => Model.PromotionDetails[i].From)</td>
                                                                                <td>@Html.DisplayFor(model => Model.PromotionDetails[i].To)</td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="line"></div>
                                                }

                                            }
                                            else
                                            {
                                                <div class="form-group row">
                                                    <h5 class="title col-sm-3" style="text-align:right;">Promotion Details:</h5>
                                                    <div class="col-sm-3">
                                                        Not available
                                                    </div>
                                                </div>
                                            }
                                        }

                                        @if (Model.EmployeeDetails.EmployeeType != EmployeeInformationSystem.Core.Models.EmployeeType.Deputationist)
                                        {
                                            if (0 != Model.PastExperiences.Count())
                                            {
                                                <div class="line"></div>
                                                <div class="form-group row justify-content-center">
                                                    <div class="col-sm-10">
                                                        <h3 class="h4">Past Experience</h3>
                                                        <div class="table-responsive">
                                                            <table class="table table-hover" id="experienceTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Name of Organisation</th>
                                                                        <th>Position</th>
                                                                        <th>Compensation</th>
                                                                        <th>Location</th>
                                                                        <th>From</th>
                                                                        <th>To</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @for (int i = 0; i < Model.PastExperiences.Count(); i++)
                                                                    {
                                                                        <tr>
                                                                            <td>@Html.DisplayFor(model => Model.PastExperiences[i].Organisation)</td>
                                                                            <td>@Html.DisplayFor(model => Model.PastExperiences[i].Position)</td>
                                                                            <td>@Html.DisplayFor(model => Model.PastExperiences[i].Compensation)</td>
                                                                            <td>@Html.DisplayFor(model => Model.PastExperiences[i].Location)</td>
                                                                            <td>@Html.DisplayFor(model => Model.PastExperiences[i].From)</td>
                                                                            <td>@Html.DisplayFor(model => Model.PastExperiences[i].To)</td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="line"></div>
                                            }
                                            else
                                            {
                                                <div class="form-group row">
                                                    <h5 class="title col-sm-3" style="text-align:right;">Past Experience:</h5>
                                                    <div class="col-sm-3">
                                                        Not available
                                                    </div>
                                                </div>
                                            }
                                        }


                                        @{ if (0 != Model.PostingDetails.Count())
                                            {
                                                <div class="line"></div>
                                                <div class="form-group row justify-content-center">
                                                    <div class="col-sm-10">
                                                        <h3 class="h4">Posting Details</h3>
                                                        <div class="table-responsive">
                                                            <table class="table table-hover" id="postingTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Department</th>
                                                                        @if (Model.EmployeeDetails.EmployeeType == EmployeeInformationSystem.Core.Models.EmployeeType.ContractualDGHStaff || Model.EmployeeDetails.EmployeeType == EmployeeInformationSystem.Core.Models.EmployeeType.ContractualMoPNGStaff)
                                                                        {
                                                                            <th>Reporting</th>
                                                                        }
                                                                        else
                                                                        {
                                                                            <th>HoD</th>
                                                                        }
                                                                        <th>From</th>
                                                                        <th>To</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @for (int i = 0; i < Model.PostingDetails.Count(); i++)
                                                                    {
                                                                        <tr>
                                                                            <td>@Html.DisplayFor(model => Model.PostingDetails[i].Department.Name)</td>
                                                                            @if (Model.EmployeeDetails.EmployeeType == EmployeeInformationSystem.Core.Models.EmployeeType.ContractualDGHStaff || Model.EmployeeDetails.EmployeeType == EmployeeInformationSystem.Core.Models.EmployeeType.ContractualMoPNGStaff)
                                                                            {
                                                                                <td>@Html.DisplayFor(model => Model.PostingDetails[i].Reporting)</td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>@Html.DisplayFor(model => Model.PostingDetails[i].HOD.Designation)</td>
                                                                            }
                                                                            <td>@Html.DisplayFor(model => Model.PostingDetails[i].From)</td>
                                                                            <td>@Html.DisplayFor(model => Model.PostingDetails[i].To)</td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="line"></div>
                                            }
                                            else
                                            {
                                                <div class="form-group row">
                                                    <h5 class="title col-sm-3" style="text-align:right;">Posting Details:</h5>
                                                    <div class="col-sm-3">
                                                        Not available
                                                    </div>
                                                </div>
                                            }
                                        }

                                        <div class="form-group row">
                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.CurrentBasicPay):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.CurrentBasicPay)
                                            </div>


                                            <h5 class="title col-sm-3" style="text-align:right;">@Html.DisplayNameFor(model => model.EmployeeDetails.DGHLevel):</h5>
                                            <div class="col-sm-3">
                                                @Html.DisplayFor(model => model.EmployeeDetails.DGHLevel.Name)
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This will delete the Employee and all its related data. <br />
                <b>Are you sure ?</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmDelete">Yes. I'm sure</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            $("#togggleAll").click(function () {
                if (this.value == "Show All") {
                    $('#viewDataAccordion .collapse').removeAttr("data-parent");
                    $('#viewDataAccordion .collapse').collapse('show');
                    $(this).val("Hide All");
                } else {
                    $('#viewDataAccordion .collapse').attr("data-parent", "#viewDataAccordion");
                    $('#viewDataAccordion .collapse').collapse('hide');
                    $(this).val("Show All");
                }

            });

        @if ("Delete" == ViewBag.Target)
        {
            <text>
            $("#confirmDelete").click(function () {
                $("#deleteModal").modal('hide');
                $('#overlay').fadeIn();
                $.ajax({
                        url: '@Url.Action("AjaxDelete", "EmployeeData")?EmployeeId=' + "@Model.EmployeeDetails.Id",
                        success: function (result) {
                            $('#ViewDataForm').html(result);
                        },
                        error: function () {
                            $('#ViewDataForm').html('<div class="alert alert-danger" role="alert"> An Error has occured </div >');
                        },
                        fail: function (xhr, textStatus, errorThrown) {
                            $('#ViewDataForm').html('<div class="alert alert-danger" role="alert">Request Failed with error: ' + errorThrown + '</div > ');
                        }
                });
                $('#overlay').fadeOut();
            });
            </text>
        }
        });
    </script>
}