@model EmployeeInformationSystem.Core.ViewModels.ReportSelectionViewModel


@using (Html.BeginForm("EarlyRepatriationReport", "Reports", FormMethod.Post, new { @class = "form-horizontal", @id = "customReportSelectionForm", @data_heading = "Early Repatriation Report" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CustomReportType, new { Value = @Model.CustomReportType })

  

    <div class="form-group row">
        @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
        <div class="col-sm-5">
            @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control", @type = "text", @data_type = "date" } })
        </div>
        <div classs="col-sm-4" style="display:none;color: red;" id="errorFromDate">Please input valid date</div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "col-sm-3 form-control-label" })
        <div class="col-sm-5">
            @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control", @type = "text", @data_type = "date" } })
        </div>
        <div classs="col-sm-4" style="display:none;color: red;" id="errorToDate">Please input valid date</div>
    </div>
 

    <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
            <input type="submit" value="Generate Report" class="btn btn-primary" id="reportSubmitBtn">
        </div>
    </div>
}

